.mat-dialog-container {
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.mat-dialog-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.mat-dialog-content img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.mat-dialog-content p {
  font-size: 1rem;
  line-height: 1.5;
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}


.character-img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.close-button {
  background-color: #d32f2f;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #b71c1c;
  }
}
